---
layout: certificate
title: CME (Physician)
---
.textLarge.textUcase Certificate of Attendance
.textMedium University of Cincinnati
.textSmall.textLcase Certifies That

.learnerName {{LearnerName}}
.textSmall.textLcase attended
.activityTitle {{ActivityTitle}}